
body {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

header {
    background-color: black;
}

.menu {
    float: left;
    letter-spacing: 1px;
    font-weight: bold;
}

.connexion {
    float: right;
    letter-spacing: 1px;
    font-weight: bold;
    color: #007BFF;
}

.container-fluid {
    padding: 0;
}

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
}

.ban img {
    width: 100%;
    max-width: 100%;
}
.inner-banner {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px 10px white;
}

#button-banner{
    font-size: 25px;
}


#carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.text-carousel {
    position: absolute;
    top: 143%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 20px blue;
}

.text2-carousel {
    position: absolute;
    top: 212%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 20px blue;
}

.step {
    font-size: 40px;
    color: white;
    text-shadow: 10px 10px 20px blue;
}

.step #step1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 225%;
}

.step #step2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 235%;
}

.step #step3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 245%;
}


/* tete de page */

section.top-page {
    margin: 100px;
    background-size: cover;
}

.big-title {
    position: absolute;
    top: 15%;
    color: blue;
    font-size: 40px;
}

/*menu de navigation */


.border {
    border-style: solid;
    margin-right: 10px;
    margin-left: 320px;
    color: blue;
}

div.div-inline {
    position: absolute;
    top: 30%;
    display: inline-block; 
    margin-left: 280px;
    margin-top: 0px;
    margin-right: 150px;
    align-content: center;
    color: blue;
  }
  
  h4.h4-inline {
    position: absolute;
    top: 30%;
    display: inline-block; 
    color: blue;
  }

  div.div-inline-2 {
    position: absolute;
    top: 40%;
    display: inline-block; 
    margin-left: 320px;
    margin-top: 0px;
    margin-right: 150px;
    margin-bottom: 300px;
    align-content: center;
    color: blue;
  }
  
  h4.h4-inline-2 {
    position: absolute;
    top: 40%;
    display: inline-block; 
    color: blue;
  }

  .background {
      background-color: #000000;
  }
