
body {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

header {
    background-color: black;
}

.menu {
    float: left;
    letter-spacing: 1px;
    font-weight: bold;
}

.connexion {
    float: right;
    letter-spacing: 1px;
    font-weight: bold;
    color: #007BFF;
}

.container-fluid {
    padding: 0;
}

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
}

.ban img {
    width: 100%;
    max-width: 100%;
}
.inner-banner {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px 10px white;
}

#button-banner{
    font-size: 25px;
}


#carouselExemple {
    width: 50%;
    margin: 0 auto;
    top: -55%;
    background-color: black;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.text-carousel {
    position: absolute;
    top: 11em;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: #007BFF;
    text-shadow: 10px 10px 20px blue;
}


.step {
    font-size: 40px;
    color: white;
    text-shadow: 10px 10px 20px blue;
}
section.top-page {
    margin: 100px;
    background-size: cover;
}

.big-title {
    position: absolute;
    top: 15%;
    color: blue;
    font-size: 40px;
}

.border {
    border-style: solid;
    margin-right: 10px;
    margin-left: 320px;
    color: blue;
}

div.div-inline {
    position: absolute;
    top: 30%;
    display: inline-block; 
    margin-left: 320px;
    margin-top: 0px;
    margin-right: 150px;
    align-content: center;
    color: blue;
}
  
h4.h4-inline {
    position: absolute;
    top: 30%;
    display: inline-block; 
    color: blue;
}

div.div-inline-2 {
    position: absolute;
    top: 40%;
    display: inline-block; 
    margin-left: 320px;
    margin-top: 0px;
    margin-right: 150px;
    margin-bottom: 300px;
    align-content: center;
    color: blue;
}
  
h4.h4-inline-2 {
    position: absolute;
    top: 40%;
    display: inline-block; 
    color: blue;
}

.background {
    background-color: #000000;
}

#image-fast {
    position: absolute;
    top: 50%;
    left: 33%;
    height: 50%;
}

.img-thumbnail{
    position: absolute;
    height: 70%;
    width: 62%;
    left: 18%;
    top: 25%;
}

#text-apropos {
    color: blue;
    position: absolute;
    top: 98%;
    left: 25%;
    font-size: 38px;
}

#teams {
    position: absolute;
    top: 140%;
    color: black;
}

.card-text {
    font-size: 15px;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img {
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: #007BFF;
    font-size: 62px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#main-title{
    font-size: 62px;
}

#text-title{
    font-size: 21px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: blue;
}

.about-text p{
    color: #007BFF;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

